* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: black;
  background-color: #f8f8f8;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
}

.navbar {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-items {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.navbar-items-list {
  height: 100%;
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-login {
  width: 300px;
  height: 100%;
}

.navbar-login-list {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sign {
  width: 100%;
  height: 35px;
  border: 2px solid blue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-in {
  background-color: #0029ff;
}

#sign-in a {
  background-color: #0029ff;
  color: white;
}

#sign-out {
  margin-left: 20px;
  background-color: white;
}

#sign-out a {
  background-color: white;
  color: #0029ff;
}

.logo {
  width: 60px;
  height: 60px;
  background-image: url("logo.png");
  background-size: cover;
  border-radius: 100px;
}

.heroSection {
  height: 250px;
  width: 100%;
  margin: 50px 0px 0px 200px;
}

h1 {
  color: #0029ff;
}

h2 {
  color: #404040;
  margin-top: 25px;
}

.heroSection-Text {
  margin-top: 25px;
  color: #b1b1b1;
}

.heroSection-TextP {
  color: #7c7c7c;
  font-style: italic;
}

button {
  margin-top: 25px;
  border-radius: 15px;
  padding: 15px;
  background-color: #0029ff;
  color: white;
  border: 2px solid #0029ff;
  cursor: pointer;
}

button:hover {
  transition: 1s;
  background-color: white;
  color: #0029ff;
}

/* #registerHospital{
  width: 20px;
  height: 10px;
  border: 2px sold black;
  /* background-color: #0029ff;
} */

footer {
  height: 220px;
  width: 100%;
  color: white;
}

.footer-details {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.aboutUs-Text {
  margin-top: 6px;
  width: 250px;
  height: 100%;
  text-align: center;
}

.clients {
  width: 200px;
  height: 100%;
  text-align: center;
  margin-top: 150px;
}

.clients-List {
  margin-top: 4px;
  list-style-type: none;
  text-align: center;
}

#contactUs {
  width: 220px;
  text-align: center;
  margin-top: 10px;
}

.contactsList {
  margin-top: 5px;
  list-style-type: none;
  text-align: left;
}

.aboutH {
  margin-left: 90px;
}

.contactH {
  margin-left: 2px;
}

.clientsH {
  margin-left: 30px;
}

.footer-end {
  width: 100%;
  height: 20px;
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
}

.img {
  width: 100%;
  height: 300px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-evenly;
  align-items: center;
}

#img1 {
  width: 33%;
  height: 290px;
  background-image: url("3.jpeg");
  background-size: cover;
}

#img2 {
  width: 33%;
  height: 290px;
  background-image: url("4.jpeg");
  background-size: cover;
}

#img3 {
  width: 33%;
  height: 290px;
  background-image: url("5.jpeg");
  background-size: cover;
}

